:root {
  --color-green: #7dc332;
  --color-red: #f04444;
  --color-yellow: #ffd500;
  --color-blue: #38b5eb;
  --color-dark: #393939;
}

.mtc-options {
  font-family:
    Roboto,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  margin: 1rem;
}

.mtc-options__heading {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.0313rem;
  border-bottom: 0.0625rem dashed black;
  padding-bottom: 0.5rem;
  display: inline-flex;
  margin-bottom: 1rem;
}

.mtc-options__table-wrapper {
  text-align: left;
  font-size: 0.875rem;
}

.mtc-options__table-hint {
  opacity: 0.5;
  font-weight: 400;
}

.mtc-remove-button svg {
  width: 1rem;
}

.mtc-button.mtc-remove-button {
  padding: 0;
  width: 1.875rem;
  height: 1.875rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.mtc-options__prefix-table {
  border-spacing: 0;
  width: 25rem;
}

.mtc-options__prefix-table th {
  padding-bottom: 0.25rem;
}

.mtc-options__table-wrapper {
  max-height: 25rem;
  overflow: auto;
}

.mtc-options__prefix-table input {
  height: 1.875rem;
  box-sizing: border-box;
  width: 100%;
}

.mtc-options__prefix-table td {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.mtc-button {
  --_background: var(--color-dark);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--_background);
  color: white;
  border: none;
  border-radius: 0;
  padding: 0.375rem 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0625rem;
}

.mtc-button:hover {
  background-color: color-mix(in srgb, var(--_background) 99%, white 10%);
}

.mtc-button#save,
.mtc-button#cancel {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mtc-button#save:hover,
.mtc-button#cancel:hover {
  background-color: color-mix(in srgb, var(--_background) 99%, black 10%);
}

.mtc-button#save {
  --_background: var(--color-green);
}

.mtc-button#cancel {
  --_background: var(--color-red);
}

.mtc-input {
  background-color: #fff;
  border: 0.0625rem solid #ccc;
  padding: 0.375rem 0.75rem;
  border-radius: 0;
  box-shadow: inset 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.075);
  min-height: 1.875rem;
}

.mtc-options__prefix-table__add-button {
  width: 100%;
  margin-top: 0.5rem;
}

.mtc-options__footer {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#status {
  font-weight: bold;
  color: var(--color-green);
}
