:root {
  --color-green: #7dc332;
  --color-red: #f04444;
  --color-yellow: #ffd500;
  --color-blue: #38b5eb;
}

tr[data-ticket-check="success"] {
  --_row-accent: var(--color-green);
}
tr[data-ticket-check="error"] {
  --_row-accent: var(--color-red);
}
tr[data-ticket-check="unknown"] {
  --_row-accent: var(--color-yellow);
}

.tst-activities tbody tr[data-ticket-check] {
  --_row-background: color-mix(in srgb, var(--_row-accent) 15%, white 85%);
  margin-bottom: 0.25rem;
  display: table-row;
}

.tst-activities tbody tr[data-ticket-check] > td {
  position: relative;
  background-color: var(--_row-background);
}
.tst-activities tbody tr[data-ticket-check]:hover > td {
  background-color: color-mix(in srgb, var(--_row-background) 99%, black 1%);
}
.tst-activities tbody tr[data-ticket-check] > td:first-child::before {
  border-left: 0.5rem solid var(--_row-accent);
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.tst-activities tbody tr[data-ticket-check] > td {
  border-bottom: 0.125rem solid white;
  border-bottom-color: white !important;
}

.tst-activities tbody tr[data-ticket-check] > td:first-child {
  padding-left: 1.25rem;
}

.mtc-allow-question__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
  background: var(--_row-accent);
  color: white;
}

.mtc-allow-question__wrapper p {
  padding: 1rem 1rem;
  margin: 0;
}

.mtc-allow-question__wrapper button {
  margin-right: 1rem;
}

.mtc-allow-button {
  font-family:
    Roboto,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: bold;
  background: white;
  letter-spacing: 0.0625rem;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  display: inline-flex;
  font-size: 0.875rem;
  color: black;
  padding: 0.25rem 0.75rem;
  border: 0;
}

/* START STOP BUTTON STYLING */
.timer {
  font-family:
    Roboto,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: bold;
  background: white;
  letter-spacing: 0.0625rem;
  border: 0.125rem solid currentColor;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  display: inline-flex;
  font-size: 0.875rem;
  min-width: max-content;
}
.fa-grey.timer {
  color: #434343;
}
.fa-grey.timer::before {
  content: "Start";
}
.fa-red.timer::before {
  content: "Stop";
}
.fa-grey.timer::after {
  content: "▲";
  transform: rotate(90deg);
  margin-left: 0.25rem;
}
.fa-red.timer::after {
  content: "▇";
  margin-left: 0.25rem;
  transform: rotate(90deg);
  font-size: 0.9em;
}
